data_workflow/bg_data
data_workflow/background
data_workflow/.snakemake
data_workflow/file_lists
data_workflow/jets
data_workflow/skimmer/*.d
data_workflow/skimmer/*.so
data_workflow/skimmer/*.pcm
plot_workflow/.snakemake
plot_workflow/plots
training_workflow/__pycache__
training_workflow/.snakemake
training_workflow/data_cache
training_workflow/logs
training_workflow/results
training_workflow/results_backup
RESULTS/

